.back-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 12px;
  border: none;
  background-color: #bab5b5;
  border-radius: 12px;
}

.navigation-button {
  padding: 10px 12px;
  margin: 10px;
  background-color: #bab5b5;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
